/*
 * Ebben a fájlban adtuk meg az egyes felületek(gombok, csúcsok, feliratok, panelek...) külalakját.
 */
/* 
    Created on : 2014.05.06., 18:58:25
    Author     : Pollák József, Komáromi Zsófia
*/



/*
 * A Node(csúcs) belső felülete
*/
.inner-circle{
    -fx-fill: radial-gradient(focus-distance 0% , center 50% 50% , radius 100% , #dfe1f2, #9d9d9d);
    -fx-effect: dropshadow( gaussian , #0A0C30, 5, 0, 0, 0 );
}

/*
 * A Node(csúcs) külső, kijelölt állapotának kinézete
*/
.outer-circle{
    -fx-fill: radial-gradient(focus-distance 0% , center 50% 50% , radius 100% , #000000, #0093ff);
}

/*
 * A Node(csúcs) feliratának kinézete
*/
.label-circle{
    -fx-text-fill: #003b68;
}

/*
 * A jobb oldali panel gombja
*/
.slide-button{
    -fx-background-color: linear-gradient(to right, #dfe1f2 0%, #757575 100%);
    -fx-background-radius:  15 0 0 15;
}

.slide-button:focused{

    -fx-background-insets: 0, 0, 1, 2;
}

.dijkstra-button{
    -fx-background-color:     
        linear-gradient(to bottom, #dfe1f2 0%, #757575 100%);
       -fx-background-radius:  30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.dijkstra-button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.upper-menu{    
    -fx-effect: dropshadow( gaussian , #0A0C30aa, 20, 0, 0, 0 );
}

/*
 * A gráf szerkesztő felület színe
*/
.graph-pane{
    -fx-background-color:  linear-gradient(#d5d5e6 0%, #757575 100%);
}

/*
 * A fenti választó gombok kinézete
*/
.toggle-button:focused{
    -fx-background-insets: 0, 0, 1, 2;
}

.toggleButtonLeft{
    -fx-background-radius: 0 0 0 15;
}


.toggleButtonRight{
    -fx-background-radius: 0 0 15 0;
}

.toggleButtonInner{
    -fx-background-radius: 0 0 0 0;
}




/*
 * A jobb oldali elcsúszó panel kinézete
*/
.slide-pane{
    -fx-background-color: linear-gradient(#dfe1f2 0%, #9d9d9d 100%);
    -fx-effect: dropshadow( gaussian , #0A0C30aa, 20, 0, 0, 0 );        
}

/*
 * A jobb oldali panelben a szövegmező kinézete
*/
.text-area {
    -fx-background-color: linear-gradient(#ededf6 0%, #c3c3d9 100%), 
                          linear-gradient(#99999999 0%, #777777 100%), 
                          linear-gradient(#dfe1f2 0%, #9d9d9d 100%);
    -fx-background-insets: 1, 2, 3;
    -fx-font-size: 12px;
    -fx-font-family: "sans-serif";
}


.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}